<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutoQA Pro E-Commerce Test Suite">
    <test name="All Tests">
        <classes>
            <class name="com.autoqa.tests.CartTest"/>
            <class name="com.autoqa.tests.CheckoutTest"/>
            <class name="com.autoqa.tests.FormValidationTest"/>
        </classes>
    </test>
</suite>
